{% extends 'bootstrap/base.html' %} {% import "bootstrap/wtf.html" as wtf %} {%
block styles %} {{ super() }}
<style>
  body {
    background: #e8f1f9;
  }
</style>
{% endblock %} {% block title %} CSV Generator {% endblock %} {% block content
%}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
      <h1 class="pt-5 pb-2">PERP PROTOCOL csv generator</h1>

      <p class="lead">
        This is the main page for the csv generator. You can currently generate
        a CSV for your trade history, and funding payment history.
      </p>

      <p>
        Please note: if you have made a lot of trades, this will take a long
        time to run
      </p>

      {{ wtf.quick_form(form) }}

      <p class="pt-5"><strong>Built by the apex team</strong></p>
      <p>Github link here</p>
      <p>Donation link here</p>
    </div>
  </div>
</div>

{% endblock %}
