{% extends 'bootstrap/base.html' %} {% import "bootstrap/wtf.html" as wtf %} {%
block styles %} {{ super() }}
<style>
  body {
    background: #e8f1f9;
  }
</style>
{% endblock %} {% block title %} CSV Generator {% endblock %} {% block content
%}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
      <h1 class="pt-5 pb-2">PERP PROTOCOL csv generator</h1>

      <p class="lead">
        This is the main page for the csv generator. You can currently generate
        a CSV for your trade history, and funding payment history.
      </p>

      <p>
        <i>
          Please note: if you have made a lot of trades, this can take a long
          time to run
        </i>
      </p>

      {{ wtf.quick_form(form) }}

      <p class="pt-5"><strong>Built by the APEX team</strong></p>
      <p>
        Trade on perpetual protocol with limit orders and other advanced order
        types at <a href="https://trade.apex.win/">apex.win</a>
      </p>
      <p></p>
      <p>
        Open source: repo on
        <a href="https://github.com/abdullathedruid/perp_csv">github</a>
      </p>
      <p>
        Donations kindly accepted at
        <a
          href="https://etherscan.io/address/0xce2955ab8fe14e1106017d8489a93181d19455b4"
          >0xCE295...55b4 (gibz.apexwin.eth)</a
        >
      </p>
    </div>
  </div>
</div>

{% endblock %}
